################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrainingsManager.Backend/TrainingsManager.Backend.EntityFramework/obj
